@{
    Layout = "_AdminLayout";
    var sanitizer = new HtmlSanitizer();
    sanitizer.AllowedTags.Remove("br");
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

@model List<ResultPostDto>

<section class="blog-list px-3 py-5 p-md-5">
    <h1>Bloglar</h1>
    <div class="container single-col-max-width">
        <table class="table table-striped table-bordered" id="postTable">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Görsel</th>
                    <th>Başlık</th>
                    <th>Tarih</th>
                    <th>Okuma Süresi</th>
                    <th>İçerik</th>
                    <th>Detay</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    int count = 1;
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                <img class="img-fluid post-thumb" src="http://localhost:9005/blog/@item.Img" alt="image" style="width: 50px; height: 50px;">
                            </td>
                            <td>@item.Title</td>
                            <td>@item.CreatedAt</td>
                            <td>5 dk okuma</td>
                            <td>@Html.Raw(sanitizer.Sanitize(item.Content))</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/User/Home/PostDetail/@item.PostId">Detay</a>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/Admin/Post/UpdatePost/@item.PostId">Güncelle</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="/Admin/Post/DeletePost/@item.PostId">Sil</a>
                            </td>
                        </tr>
                        count++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">Henüz hiç gönderi bulunmamaktadır.</td>
                    </tr>
                }
            </tbody>
        </table>

        <script>$(document).ready(function () {
                $('#postTable').DataTable();
            });</script>
        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

        <a class="btn btn-info" href="/Admin/Post/AddPost">Post Ekle</a>
    </div>
</section>
