@model List<ResultPostDto>
@{
    var user = ViewBag.UserName as User;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;

    var sanitizer = new HtmlSanitizer();
    sanitizer.AllowedTags.Remove("br");
    sanitizer.AllowedTags.Remove("img");
}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
    .intro * {
        font-weight: 400 !important;
        font-size: 14px; /* Set the desired uniform size */
        white-space: nowrap; /* Prevents line breaks */
    }

   
</style>

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">


        @foreach (var item in Model) // Sadece ilk 5 postu göster
        {
            <div class="item mb-5">
                <div class="row g-3 g-xl-0">
                    <div class="col-2 col-xl-3">
                        <img class="img-fluid post-thumb" src="http://localhost:9005/blog/@item.Img" alt="image">
                    </div>
                    <div class="col">
                        <h3 class="title mb-1">
                            <a class="text-link" href="/User/Home/PostDetail/@item.PostId">@item.Title</a>
                        </h3>
                        <div class="meta mb-1">
                            <span class="date">@item.CreatedAt</span>
                            <span class="time">En az 5 dakika</span>
                        </div>
                       
                        <a class="text-link" href="/User/Home/PostDetail/@item.PostId">Oku &rarr;</a>
                    </div>
                </div>
            </div>

        }


        <!-- Sayfalama (Pagination) -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(currentPage - 1)">Önceki</a>
                    </li>
                }

                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }

                @if (currentPage < totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(currentPage + 1)">Sonraki</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</section>
